1. Find Maximum of two numbers in **Python**

In [1]:
# 1St problem
def max(a,b):
  if a>=b:
    return a
  else:
    return b

In [2]:
a=2
b=3
c=max(a,b)

In [4]:
print(c)

3

In [7]:
#using other methods
a=4
b=3
maximum=max(a,b)
print(maximum)

4

# 2. find Minimum of two numbers

In [8]:
def min(a,b):
  if a<=b:
    return a
  else:
    return b

In [10]:
a=3
b=2
c=min(a,b)
print(c)

2

# 3. Write a function that takes a list of numbers and returns the sum.

In [11]:
def sum_of_num(nums):
  return sum(nums)

In [13]:
nums=[1,2,3,4,5]

In [14]:
c=sum_of_num(nums)
print(c)

15

# 4. How do you reverse a string in Python?

In [16]:
s="aniket"
s1=s[::-1]
print(s1)

tekina

In [17]:
def reverse_string(s):
    return s[::-1]

In [20]:
s="aniket"
c=reverse_string(s)
print(c)

tekina

# 5. Write a function that checks if a given word is a palindrome.

In [21]:
def is_palindrome(word):
    return word == word[::-1]

In [30]:
word="nayan"

In [31]:
c=is_palindrome(word)

In [32]:
print(c)

True

# How can you remove duplicates from a list?

In [34]:
def remove_duplicates(lst):
    return list(set(lst))

In [35]:
lst=[1,1,1,2,3,3,4,5,4,5,6,7]

In [36]:
c=remove_duplicates(lst)

In [37]:
print(c)

[1, 2, 3, 4, 5, 6, 7]